nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    top: inherit;
}

nav .menu-item {
    color: #FFF;
    padding: 0 1vw;
    position: relative;
    text-align: center;
    border-bottom: 3px solid transparent;
    display: flex;
    transition: 0.4s;
    font-size: xx-large;
    height: inherit;
    align-items: center;
  }

nav .menu-item.active,
nav .menu-item:hover {
  background-color: #444;
  border-bottom-color: #FF5858;
  cursor: pointer;
}

nav .menu-item a {
  color: inherit;
  text-decoration: none;
}

img.settings-icon {
  max-height: 50%;
  max-width: 100%;
  object-fit: contain;
}