/* Erik s204438 */

nav.nav-menubar {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #4c6ca0;
    /* overflow: auto; */
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 10vh;
    top:0;
}

nav.nav-menubar .routerlink {
    /* float: left; */
    display: flex;
    color: #ffffff;
    text-decoration: none;
    height: inherit;
    padding: 0 2vw;
    width: 30em;
    font-size: 4vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav.nav-menubar .routerlink:hover {
    background-color: #446190;
    color: #f4f4f4;
}

/* a.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  } */