nav.nav-menubar {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #4c6ca0;
    overflow: auto;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 4vh;
    top:0;
}

nav.nav-menubar .routerlink {
    float: left;
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5vh;
}

nav.nav-menubar .routerlink:hover {
    background-color: #446190;
    color: #f4f4f4;
}