h1#statpageHeading {
    position: absolute;
    top: 7vh;
  }
  .header {
    width: 100%;
    height: 5vh;
    background-color: #222;
    padding: 0;
    position: fixed;
    z-index: 9999;
    top: 4vh;
  }
  
  div#chart-statspage {
    width: 80vw;
    height: 80vh;
    position:absolute;
    top:20vh;
    margin:0px auto;
    left:0;
    right:0;
  }