#heading {
  font-weight: bolder;
}

div#welcome-wrap {
  width: 100%;
  height: 90vh;
  top: 10vh;
  position:relative;
}

div#chart {
  position: absolute;
  width: 15vw;
  height: 80vh;
  top: 1vh;
  float: left;
}

div#data-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 4vw;
}

td#heading {
  font-weight: bolder;
}

th, td {
  width: 20vw;
  padding: 20px 0;
  font-size: 2.5vw;
  /* transform: scale(1, 2);
  -webkit-transform: scale(1, 2); 
  -moz-transform: scale(1, 2); 
  -ms-transform: scale(1, 2); 
  -o-transform: scale(1, 2); Opera */
}

h1#WelcomeHeading {
  font-size: 5vw;
}