/* Magnus s191252 */

#heading {
  font-weight: bolder;
}

div#welcome-wrap {
  width: 100vw;
  height: 100vh;
}

div#data-view {
  width:100%;
  height: 100%;
  overflow: hidden;
}

div#chart {
  position: absolute;
  width: 15vw;
  height: 80vh;
  top: 15vh;
  float: left;
}

table#current {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /* font-size: 2.5vw; */
}

td#heading {
  font-weight: bolder;
}

header {
  background-color: #222;
  padding: 15px;
}

th, td {
  width: 20vw;
  padding: 20px 0;
  font-size: 2.5vw;
  /* transform: scale(1, 2);
  -webkit-transform: scale(1, 2); 
  -moz-transform: scale(1, 2); 
  -ms-transform: scale(1, 2); 
  -o-transform: scale(1, 2); Opera */
}